# --- Common ---
PRODUCT_NAME=pad.example.org
ADMIN_API_KEY=AuthentikAPIKey
MGMT_API_KEY=ManagementAPIKey
API_URL=https://login.pad.example.org/api/v3/stages/invitation/invitations/
INVITE_URL=https://login.pad.example.org/if/flow/

# --- wwwmgmt ---
MGMT_CLIENT_ID=CLIENTID
MGMT_CLIENT_SECRET=CLIENTSECRET
MGMT_REDIRECT_URI=https://mgmt.pad.example.org/index.php
MGMT_OIDC_URL=https://login.pad.example.org/application/o/pad-mgmt/

# --- wwwsignup SMTP ---
SMTP_HOST=mx.example.org
SMTP_USER=foo
SMTP_PASS=bar
SMTP_PORT=587
SMTP_SECURE=tls

FROM_EMAIL=no-reply@example.org
FROM_NAME=pad.example.org

BASE_URL=https://signup.pad.example.org
ADMIN_SECRET=foobar

TELEGRAM_BOT_TOKEN=123456789:ABCDEFGHIJKLMNOPQRSTUVWXYZ
TELEGRAM_CHAT_ID=1234567890

DATA_FILE=/var/www/data/requests.json
REJECT_FILE=/var/www/data/rejects.csv

FLOW_ID=flow-external-id
GROUP_FLOW_ID=flow-internal-id

FLOW_NAME=flow-external-name
GROUP_FLOW_NAME=flow-internal-name

MGMT_URL=https://mgmt.pad.example.org/
LEGAL_URL=https://legal.example.org